<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="db.properties"/>
  <settings>
    <setting name="cacheEnabled" value="true"/>
    <setting name="callSettersOnNulls" value="true"/>
    <setting name="logImpl" value="STDOUT_LOGGING"/>
    <!-- SQL실행 로그 출력 -->
  </settings>
  <typeAliases>
	<typeAlias type="com.sist.vo.MemberVO" alias="MemberVO"/>
	<typeAlias type="com.sist.vo.GoodsVO" alias="GoodsVO"/>
	<typeAlias type="com.sist.vo.StockVO" alias="StockVO"/>
	<typeAlias type="com.sist.vo.CategoryVO" alias="CategoryVO"/>
	<typeAlias type="com.sist.vo.BrandVO" alias="BrandVO"/>
	<typeAlias type="com.sist.vo.OrderDetailVO" alias="OrderDetailVO"/>
	<typeAlias type="com.sist.vo.OrdersVO" alias="OrdersVO"/>
	<typeAlias type="com.sist.vo.CartVO" alias="CartVO"/>
	<typeAlias type="com.sist.vo.LikeVO" alias="LikeVO"/>
 	<typeAlias type="com.sist.vo.ReviewVO" alias="ReviewVO"/>
 	<typeAlias type="com.sist.vo.HistoryVO" alias="HistoryVO"/>
 	<typeAlias type="com.sist.vo.QnaVO" alias="QnaVO"/>
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
       <property name="driver" value="${driver}"/>
       <property name="url" value="${url}"/>
       <property name="username" value="${username}"/>
       <property name="password" value="${password}"/>
       <property name="poolMaximumActiveConnections" value="${maxActive}"/>
       <property name="poolMaximumIdleConnections" value="${maxIdle}"/>
       <property name="poolTimeToWait" value="${maxWait}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/sist/mapper/member-mapper.xml"/>
    <mapper resource="com/sist/mapper/goods-mapper.xml"/>
    <mapper resource="com/sist/mapper/admin-mapper.xml"/>
    <mapper resource="com/sist/mapper/cart-mapper.xml"/>
    <mapper resource="com/sist/mapper/order-mapper.xml"/>
    <mapper resource="com/sist/mapper/like-mapper.xml"/>
	<mapper resource="com/sist/mapper/review-mapper.xml"/>
	<mapper resource="com/sist/mapper/qna-mapper.xml"/>
  </mappers>
</configuration>