<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.admin-mapper">

	<select id="salesList" resultType="DashVO">
		SELECT TO_CHAR(order_date, 'MM/DD') AS sale_date,
		    nvl(sum(total_price),0) as total
		  FROM orders
		 WHERE order_date >= TRUNC(SYSDATE) - 6
		 GROUP BY TO_CHAR(order_date, 'MM/DD')
		 ORDER BY MIN(order_date)
	</select>

	<resultMap type="com.sist.vo.OrderDetailVO" id="dashMap">
		<result property="ovo.order_no" column="order_no"/>
		<result property="ovo.id" column="id"/>
		<result property="ovo.dbday" column="dbday"/>
		<result property="gvo.goods_name" column="goods_name"/>
	</resultMap>
	<select id="dashOrderList" resultMap="dashMap" parameterType="hashmap">
		select o.order_no, o.id, g.goods_name, d.quantity, to_char(o.order_date, 'yyyy-mm-dd') as dbday, d.status
		from orders o, order_detail d, goods g
		where o.order_no = d.order_no
		and d.goods_no = g.goods_no		
		and rownum &lt;= 5
	    order by o.order_date desc, o.id
	</select>
	
	<select id="dashQnaList" resultType="QnaVO">
		 SELECT qna_no, parent_no, type, subject, content, status, id, to_char(CREATED_AT, 'yyyy-mm-dd') as dbday, goods_no 
		 FROM qna
		 WHERE status = '답변대기'
		 and rownum &lt;= 5
         order by qna_no desc
	</select>
	
	<select id="dashCountOrder" resultType="int">
		select count(*)
		 from orders
		 where to_char(order_date,'yyyy-mm-dd') = to_char(sysdate,'yyyy-mm-dd')
	</select>
	
	<select id="dashTotalPrice" resultType="int">
		select sum(total_price)
		 from orders
		 where to_char(order_date,'yyyy-mm') = to_char(sysdate,'yyyy-mm')
	</select>
	
	<select id="dashCountStockLess" resultType="int">
		select count(*) 
		 from stock 
		 where quantity &lt; 10
	</select>
	
	<select id="dashCountNotDelivery" resultType="int">
		 select count(*) 
		  from order_detail 
		 where status = '결제완료'
	</select>
	
	<select id="adminGoodsList" resultType="GoodsVO" parameterType="map">
		SELECT goods_no, goods_discount, goods_code, goods_name, goods_price, poster_url, subposter_url, b.brand_name, c.category_name
		 FROM goods g, brand b, category c
		WHERE g.brand_no = b.brand_no 
		 AND g.category_no = c.category_no
	    <if test="category != null and category != 0">
	        AND g.category_no = #{category}
	    </if>
	    <if test="brand != null and brand != 0">
	        AND g.brand_no = #{brand}
	    </if>
	    <if test="fd != null and fd != ''">
	        AND g.goods_name LIKE '%' || #{fd} || '%'
	    </if>
		ORDER BY g.goods_no DESC
		OFFSET #{start} ROWS FETCH NEXT 10 ROWS ONLY
	</select>
	<select id="adminGoodsTotal" resultType="int">
		SELECT CEIL(COUNT(*)/10.0)
		 FROM goods g, brand b, category c
		WHERE g.brand_no = b.brand_no 
		 AND g.category_no = c.category_no
		<if test="category != null and category != 0">
	        AND g.category_no = #{category}
	    </if>
	    <if test="brand != null and brand != 0">
	        AND g.brand_no = #{brand}
	    </if>
	    <if test="fd != null and fd != ''">
	        AND g.goods_name LIKE '%' || #{fd} || '%'
	    </if>
	</select>
	<select id="SearchCategory" resultType="CategoryVO">
		SELECT 0 as category_no, 'ALL' as  category_name
         FROM dual
        UNION
		SELECT category_no, category_name
		 FROM category
	</select>
	<select id="SearchBrand" resultType="BrandVO">
		SELECT 0 as brand_no, 'ALL' as  brand_name
         FROM dual
        UNION
		SELECT brand_no, brand_name
		 FROM brand
	</select>
	<select id="adminGoodsData" resultType="GoodsVO" parameterType="int">
		SELECT goods_no, goods_discount, goods_code, goods_name, goods_price, poster_url, subposter_url, to_char(g.created_at,'yyyy-mm-dd') as dbday, 
		       g.brand_no, g.category_no, b.brand_name, c.category_name
		 FROM goods g, brand b, category c
		WHERE g.brand_no = b.brand_no 
		 AND g.category_no = c.category_no
		 AND g.goods_no = #{no}
	</select>
	
	<select id="goodsStockList" resultType="StockVO" parameterType="int">
		SELECT no, goods_no, goods_size, quantity, created_at, updated_at
		 FROM stock
		WHERE goods_no = #{no}
	</select>
	
	<!-- 상품 수정 -->
	<update id="adminGoodsUpdate" parameterType="GoodsVO">
		UPDATE goods
		 SET goods_code = #{goods_code},
		  category_no = #{category_no},
		  brand_no = #{brand_no},
		  goods_name = #{goods_name},
		  goods_price = #{goods_price},
		  goods_discount = #{goods_discount},
		  poster_url = #{poster_url},
		  subposter_url = #{subposter_url}
		WHERE goods_no = #{goods_no}
	</update>
	
	<insert id="adminGoodsInsert" parameterType="GoodsVO">
	    <selectKey keyProperty="goods_no" resultType="int" order="BEFORE">
	        SELECT goods_seq.NEXTVAL FROM dual
	    </selectKey>
	    INSERT INTO goods (goods_no, category_no, brand_no, goods_code, goods_name, goods_price, goods_discount, poster_url, subposter_url)
	    VALUES (#{goods_no}, #{category_no}, #{brand_no}, #{goods_code}, #{goods_name}, #{goods_price}, #{goods_discount}, #{poster_url}, #{subposter_url})
	</insert>
	
	<insert id="adminStockInsert" parameterType="StockVO">
	    INSERT INTO stock (no, goods_no, goods_size, quantity)
	    VALUES (stock_no_seq.nextval, #{goods_no}, #{goods_size}, #{quantity})
	</insert>
	
	<resultMap type="com.sist.vo.OrderDetailVO" id="orderMap">
		<result property="ovo.order_no" column="order_no"/>
		<result property="ovo.id" column="id"/>
		<result property="ovo.dbday" column="dbday"/>
		<result property="gvo.goods_name" column="goods_name"/>
		<result property="gvo.goods_no" column="goods_no"/>
		<result property="ovo.order_date" column="order_date"/>
	</resultMap>
	<select id="adminOrderList" resultMap="orderMap" parameterType="hashmap">
		select o.order_no, o.id, g.goods_name, d.sizes, d.quantity, to_char(o.order_date, 'yyyy-mm-dd') as dbday, d.status, d.order_detail_no, g.goods_no
		from orders o, order_detail d, goods g
		where o.order_no = d.order_no
		and d.goods_no = g.goods_no
		<if test="status != null and status != ''">
	        AND d.status = #{status}
	    </if>
	    <if test="memberId != null and memberId != ''">
	        AND o.id = #{memberId}
	    </if>
	    order by o.order_date desc, o.id
	</select>
	
	<select id="adminOrderTotal" resultType="int" parameterType="hashmap">
		select CEIL(count(*)/10.0)
		from orders o, order_detail d, goods g
		where o.order_no = d.order_no
		and d.goods_no = g.goods_no
		<if test="status != null and status != ''">
	        AND d.status = #{status}
	    </if>
	    <if test="memberId != null and memberId != ''">
	        AND o.id = #{memberId}
	    </if>
	</select>
	
	<select id="getStock" parameterType="OrderDetailVO" resultType="StockVO">
		SELECT quantity, no 
		 FROM STOCK 
		WHERE goods_no = #{goods_no} 
		and goods_size = #{sizes}
	</select>
	
	<!-- 재고 차감 -->
	<update id="updateStockOut" parameterType="OrderDetailVO">
	    UPDATE stock
	       SET quantity = quantity - #{quantity}
	     WHERE goods_no = #{goods_no}
	       AND goods_size = #{sizes}
	</update>
	
	<!-- 재고 차감 히스토리 추가 -->
	<insert id="outStockHistory" parameterType="HistoryVO">
		INSERT INTO stock_history (stock_no, order_no, quantity, inout_size, chk, inout_date, created_at, created_by)
         VALUES (#{stock_no}, #{order_no}, #{quantity}, #{inout_size}, #{chk}, sysdate, sysdate, #{created_by})
	</insert>
	
	<!-- 배송상태 변경 -->
	<update id="updateOrderDetailStatus" parameterType="OrderDetailVO">
		UPDATE order_detail
		 set status = #{status}
		where order_detail_no = #{order_detail_no}
	</update>
	
	<!-- 환불 처리 -->
	<update id="updateStockReturn" parameterType="OrderDetailVO">
		UPDATE stock
		 SET quantity = quantity + #{quantity}
		WHERE goods_no = #{goods_no}
		 AND goods_size = ${sizes}
	</update>
	
	<sql id="searchCondition">
	    <if test="startDate != null and startDate != ''">
	        AND h.inout_date &gt;= TO_DATE(#{startDate}, 'YYYY-MM-DD')
	    </if>
	    <if test="endDate != null and endDate != ''">
	        AND h.inout_date &lt; TO_DATE(#{endDate}, 'YYYY-MM-DD') + 1
	    </if>
	</sql>
	
	<select id="ioListData" parameterType="hashmap" resultType="HistoryVO">
	   SELECT h.no, h.chk, g.goods_name, h.inout_size, h.quantity, TO_CHAR(h.inout_date, 'YYYY-MM-DD') AS dbday, h.created_by
	      FROM stock_history h, stock s, goods g
	     WHERE h.stock_no = s.no
	       AND s.goods_no = g.goods_no
	    <include refid="searchCondition"/>
	    <if test="chk != null and chk != ''">
	        AND h.chk = #{chk}
	    </if>
	    <if test="goodsName != null and goodsName != ''">
	        AND g.goods_name LIKE '%' || #{goodsName} || '%'
	    </if>
	     ORDER BY h.inout_date DESC, h.no DESC
	    OFFSET #{start} ROWS FETCH NEXT 10 ROWS ONLY
	</select>
	
	<select id="ioListTotal" parameterType="hashmap" resultType="int">
	   SELECT CEIL(COUNT(*)/10.0)
	      FROM stock_history h, stock s, goods g
	     WHERE h.stock_no = s.no
	       AND s.goods_no = g.goods_no
	    <include refid="searchCondition"/>
	    <if test="chk != null and chk != ''">
	        AND h.chk = #{chk}
	    </if>
	    <if test="keyword != null and keyword != ''">
	        AND g.goods_name LIKE '%' || #{goodsName} || '%'
	    </if>
	</select>
	
	<!-- 재고 확인  -->
	<resultMap type="com.sist.vo.GoodsVO" id="stockMap">
		<result property="svo.total_quantity" column="total_quantity"/>
		<result property="svo.stock_status" column="stock_status"/>
	</resultMap>
	<select id="adminStockList" parameterType="hashmap" resultMap="stockMap">
		SELECT 
		    g.goods_no, 
		    g.goods_name, 
		    g.goods_code,
		    b.brand_name, 
		    c.category_name,
		    SUM(NVL(rs.quantity, 0)) AS total_quantity, 
		    CASE 
		        WHEN COUNT(CASE WHEN rs.quantity &lt; 10 THEN 1 END) &gt; 0 THEN '확인필요'
		        ELSE '정상'
		    END AS stock_status
		FROM goods g
		JOIN (
		    SELECT 
		        no,
		        goods_no, 
		        goods_size, 
		        quantity
		    FROM stock
		) rs ON g.goods_no = rs.goods_no 
		JOIN brand b    ON g.brand_no = b.brand_no
		JOIN category c ON g.category_no = c.category_no
		WHERE 1=1
		<if test="goodsName != null and goodsName != ''">
			and g.goods_name like '%'||#{goodsName}||'%'
		</if>
		<if test="goodsCode != null and goodsCode != ''">
			and g.goods_code like '%'||#{goodsCode}||'%'
		</if>
		<if test="lowStock != null and lowStock != ''">
			and rs.quantity &lt; 10
		</if>
		GROUP BY g.goods_no, g.goods_name, g.goods_code, b.brand_name, c.category_name
		ORDER BY total_quantity DESC
		OFFSET #{start} ROWS FETCH NEXT 10 ROWS ONLY
	</select>
	
	<select id="adminStockTotal" parameterType="hashmap" resultType="int">
		SELECT 
		    CEIL(COUNT(distinct(g.goods_no))/10.0)
		FROM goods g
		JOIN stock rs ON g.goods_no = rs.goods_no 
		JOIN brand b   ON g.brand_no = b.brand_no
		JOIN category c  ON g.category_no = c.category_no
		WHERE 1=1
		<if test="goodsName != null and goodsName != ''">
			and g.goods_name like '%'||#{goodsName}||'%'
		</if>
		<if test="goodsCode != null and goodsCode != ''">
			and g.goods_code like '%'||#{goodsCode}||'%'
		</if>
		<if test="lowStock != null and lowStock != ''">
			and rs.quantity &lt; 10
		</if>
	</select>
	
	<!-- 재고 등록 화면 검색기능 -->
	<select id="stockSearchList" parameterType="string" resultType="GoodsVO">
		SELECT g.goods_code, g.goods_no, g.goods_name, b.brand_name, c.category_name
	    FROM goods g, brand b, category c
	    WHERE g.brand_no = b.brand_no
	    AND g.category_no = c.category_no
	    AND g.goods_name like '%'||#{keyword}||'%'
	    ORDER BY GOODS_NO
	</select>
	
	<select id="stockSizeData" parameterType="int" resultType="StockVO">
		SELECT goods_size, quantity, no
	     FROM stock
	    WHERE goods_no = #{goods_no}
	     ORDER BY goods_size ASC
	</select>
	
	<insert id="stockInsert" parameterType="StockVO">
	    <selectKey keyProperty="no" resultType="int" order="BEFORE">
	        SELECT stock_no_seq.NEXTVAL FROM dual
	    </selectKey>
	    INSERT INTO stock (no, goods_no, goods_size, quantity)
	    VALUES (#{no}, #{goods_no}, #{goods_size}, #{quantity})
	</insert>
	
	<update id="stockUpdate" parameterType="StockVO">
	    UPDATE stock 
	     SET quantity = quantity + #{quantity}
	    WHERE goods_no = #{goods_no}
	     AND goods_size = #{goods_size}
	</update>
	
	<update id="stockForceUpdate" parameterType="StockVO">
	    UPDATE stock 
	     SET quantity = #{quantity}
	    WHERE goods_no = #{goods_no}
	     AND goods_size = #{goods_size}
	</update>
	
	<!-- 재고 입고 히스토리 추가 -->
	<insert id="inStockHistory" parameterType="HistoryVO">
		INSERT INTO stock_history (stock_no, quantity, inout_size, chk, inout_date, created_at, created_by)
         VALUES (#{stock_no}, #{quantity}, #{inout_size}, #{chk}, sysdate, sysdate, #{created_by})
	</insert>
	
	<!-- qna 기능  -->
	<resultMap type="com.sist.vo.QnaVO" id="qnaMap">
		<result property="goods.goods_name" column="goods_name"/>
	</resultMap>
	<select id="adminQnaListData" parameterType="hashmap" resultMap="qnaMap">
		SELECT 
			q.qna_no, 
			q.parent_no, 
			q.type, 
			q.subject, 
			q.content, 
			q.status, 
			q.id, 
			TO_CHAR(q.CREATED_AT, 'yyyy-mm-dd') AS dbday, 
			q.goods_no, 
			g.goods_name
		FROM qna q JOIN goods g 
		ON q.goods_no = g.goods_no
		WHERE q.type != '관리자답변'
		<if test="status != null and status != ''">
			AND q.status = #{status}
		</if>
		<if test="id != null and id != ''">
			AND q.id = #{id}
		</if>
		ORDER BY q.qna_no DESC
		OFFSET #{start} ROWS FETCH NEXT 10 ROWS ONLY
	</select>
	
	<select id="adminQnaListTotal" parameterType="hashmap" resultType="int">
	   SELECT CEIL(COUNT(*)/10.0)
		FROM qna q JOIN goods g 
		ON q.goods_no = g.goods_no
		WHERE q.type != '관리자답변'
		<if test="status != null and status != ''">
			AND q.status = #{status}
		</if>
		<if test="id != null and id != ''">
			AND q.id = #{id}
		</if>
	</select>
	
	<select id="adminQnaData" resultMap="qnaMap" parameterType="int">
		SELECT 
			q.qna_no, 
			q.parent_no, 
			q.type, 
			q.subject, 
			q.content, 
			q.status, 
			q.id, 
			q.is_secret,
			TO_CHAR(q.CREATED_AT, 'yyyy-mm-dd') AS dbday, 
			q.goods_no, 
			g.goods_name
		FROM qna q JOIN goods g 
		ON q.goods_no = g.goods_no
		WHERE qna_no = #{qna_no}
	</select>
	
	<select id="adminQnaParentData" resultType="QnaVO" parameterType="int">
		SELECT qna_no, parent_no, type, subject, content, status, id, is_secret, TO_CHAR(CREATED_AT, 'yyyy-mm-dd') AS dbday, goods_no
		FROM qna
		WHERE qna_no = #{parent_no}
	</select>
	
	<insert id="adminQnaAnswerInsert" parameterType="QnaVO">
	    <selectKey keyProperty="qna_no" resultType="int" order="BEFORE">
	        SELECT qna_no_seq.NEXTVAL FROM dual
	    </selectKey>
	    INSERT INTO qna (qna_no,parent_no,type,subject,content,status,id,is_secret,created_at,goods_no)
		VALUES(#{qna_no},0,#{type},#{subject},#{content},#{status},#{id},#{is_secret},SYSDATE,#{goods_no})
	</insert>
	
	<update id="adminQnaOriginUpdate" parameterType="QnaVO">
		UPDATE qna
		 SET parent_no = #{parent_no}
		   , status = #{status}
		WHERE qna_no = #{qna_no}
	</update>
	
	<update id="adminQnaAnswerUpdate" parameterType="QnaVO">
		UPDATE qna
		 SET content = #{content}
		WHERE qna_no = #{qna_no}
	</update>
	
	<delete id="adminQnaAnswerDelete" parameterType="int">
		DELETE FROM qna
		WHERE qna_no = #{parent_no}
	</delete>
	
</mapper>