<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.cart-mapper">

	<resultMap type="CartVO" id="cartMap">
		<result property="svo.no" column="no"/>
		<result property="gvo.goods_no" column="goods_no"/>
		<result property="gvo.poster_url" column="poster_url"/>
		<result property="gvo.goods_name" column="goods_name"/>
		<result property="gvo.goods_price" column="goods_price"/>
	</resultMap>
	<select id="cartListData" resultMap="cartMap" parameterType="string">
		SELECT c.cart_no,s.no,g.goods_no,
			c.sizes,c.quantity,
		    g.poster_url,g.goods_name,g.goods_price
		FROM cart c
		JOIN stock s ON c.stock_no=s.no
		JOIN goods g ON s.goods_no=g.goods_no
		WHERE c.id=#{id}
		ORDER BY c.created_at DESC
	</select>
	
	<delete id="cartDeleteData" parameterType="int">
		DELETE FROM cart WHERE cart_no=#{cart_no}
	</delete>
	
	
	
	<select id="goodsStockData">
		SELECT no
		FROM stock
		WHERE goods_no=#{goods_no} AND goods_size=#{sizes};
	</select>
	
	<insert id="cartInsert">
		INSERT INTO cart (cart_no,id,stock_no,sizes,quantity)
		VALUES (cart_no_seq.nextval, #{id}, #{stock_no}, #{sizes}, {#quantity})
	</insert>
</mapper>