<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.member-mapper">
	<select id="memberIdCheck" resultType="int"
		parameterType="string">
		SELECT COUNT(*)
		FROM member
		WHERE id=#{id}
	</select>
	<select id="memberGetPassword" resultType="MemberVO"
		parameterType="string">
		SELECT id, pwd, name, nickname, phone, zipcode, address,
		address_detail, auth
		FROM member
		WHERE id=#{id}
	</select>
	
	<select id="memberDetailData"
        resultType="MemberVO"
        parameterType="string">

SELECT id,
       name,
       nickname,
       phone,
       zipcode,
       address,
       address_detail
FROM member
WHERE id=#{id}

</select>

<!-- 디비에 특정 비밀번호 조회 -->
<select id="memberFindPassword" resultType="string"
		parameterType="string">
		SELECT pwd FROM member
		WHERE id = #{id}
</select>

<!-- 회원정보 수정 -->	
<update id="memberUpdate" parameterType="MemberVO">

UPDATE member
SET
    name=#{name},
    nickname=#{nickname},
    phone=#{phone},
    zipcode=#{zipcode},
    address=#{address},
    address_detail=#{address_detail}

WHERE id=#{id}

</update>
<!--  회원가입 추가 -->
<insert id="memberInsert" parameterType="com.sist.vo.MemberVO">
    INSERT INTO member(
        id,
        pwd,
        name,
        nickname,
        phone,
        zipcode,
        address,
        address_detail,
        auth,
        created_at
    ) VALUES(
        #{id},
        #{pwd},
        #{name},
        #{nickname},
        #{phone},
        #{zipcode},
        #{address},
        #{address_detail},
        1,
        SYSDATE
    )
</insert>
<!--  아이디 중복체크 -->
<select id="idCount" parameterType="string" resultType="int">
    SELECT COUNT(*)
    FROM member
    WHERE id=#{id}
</select>

<!--  닉네임 중복체크 -->
<select id="nickCount" parameterType="string" resultType="int">
    SELECT COUNT(*)
    FROM member
    WHERE nickname=#{nickname}
</select>


</mapper>