<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.order-mapper">
	<resultMap type="OrderDetailVO" id="OrderDetailMap">
		<result property="gvo.goods_name" column="goods_name" />
		<result property="gvo.goods_price" column="goods_price" />
		<result property="gvo.poster_url" column="poster_url" />
		<result property="sizes" column="goods_size" />
		<result property="price_str" column="goods_price" />
	</resultMap>
	<select id="orderListData" resultMap="OrderDetailMap"
		parameterType="hashmap"> SELECT g.goods_name, s.goods_size, g.goods_price,
		g.poster_url FROM stock s JOIN goods g ON s.goods_no=g.goods_no WHERE
		s.no=#{stock_no} </select>
		
	<resultMap type="com.sist.vo.OrderDetailVO"
		id="orderdetailMap">
		<association property="ovo" javaType="OrdersVO">
			<result property="order_date" column="order_date" />
			<result property="order_no" column="order_no" />
			<result property="total_price" column="total_price" />
			<result property="delivery_status" column="delivery_status" />
			<result property="dbday" column="dbday" />
		</association>
		<association property="gvo" javaType="GoodsVO">
			<result property="goods_name" column="goods_name" />
		</association>
	</resultMap>
	<select id="myOrderDetailData" resultMap="orderdetailMap" parameterType="string">
	SELECT TO_CHAR(o.order_date,'yyyy-mm-dd') as dbday,o.order_no,o.total_price,o.delivery_status,g.goods_name 
	FROM order_detail od 
	JOIN orders o ON od.order_no = o.order_no JOIN goods g
	ON g.goods_no = od.goods_no 
	WHERE id = #{id} 
	</select>
</mapper>