<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.qna-mapper">
  <select id="qnaListData" resultType="QnaVO" parameterType="string">
   SELECT q.goods_no,
          g.goods_name AS "goods.goods_name",
          g.poster_url AS "goods.poster_url",
          q.type,
          q.created_at,
          q.is_secret,
          q.status,
          q.qna_no,
          q.subject
          
     FROM qna q
    JOIN goods g ON g.goods_no = q.goods_no
   WHERE q.id=#{id}
   ORDER BY q.qna_no DESC                   
  </select>
  
  <insert id="qnaInsert" parameterType="QnaVO">
  INSERT INTO qna(qna_no,parent_no,type,subject,content,status,id,is_secret,created_at,goods_no)
  VALUES(qna_no_seq.nextval,#{parent_no},#{type},#{subject},#{content},#{status},#{id},#{is_secret},SYSDATE,#{goods_no})
  
 </insert>
 
 <select id="qnaDetailData" resultType="QnaVO" parameterType="map">
    SELECT g.goods_no,
           g.goods_name AS "goods.goods_name",
           g.poster_url AS "goods.poster_url"
    FROM goods g
    WHERE g.goods_no = #{goods_no}
</select>

 <select id="qnaDetail" resultType="QnaVO" parameterType="int">
   SELECT qna_no, parent_no, type, subject, content, status, id, is_secret, created_at, goods_no
    FROM qna
    WHERE qna_no = #{qna_no}
 </select>
 
 <update id="qnaUpdate" parameterType="QnaVO">
   UPDATE qna SET
   type=#{type},
   subject=#{subject},
   content=#{content},
   is_secret=#{is_secret}
   WHERE qna_no=#{qna_no}   
 </update>
 
 <select id="qnaUpdateData" resultType="QnaVO" parameterType="int">
  SELECT g.goods_name AS "goods.goods_name",
         g.poster_url AS "goods.poster_url",
         q.type,
         q.subject,
         q.content,
         q.is_secret,
         q.id,
         q.qna_no
  FROM qna q
  JOIN goods g ON q.goods_no=g.goods_no
  WHERE q.qna_no=#{qna_no}
 </select>
 
 <delete id="qnaDelete" parameterType="int">
   DELETE FROM qna
   WHERE qna_no=#{qna_no} OR parent_no=#{parent_no}
 </delete>
 
 <select id="QnaAnswer" resultType="QnaVO" parameterType="int">
  SELECT qna_no, parent_no, type, subject, content, status, id, is_secret, TO_CHAR(CREATED_AT, 'yyyy-mm-dd') AS dbday, goods_no
		FROM qna
		WHERE qna_no = #{parent_no} 
 </select>
</mapper>

<!-- 
    QNA_NO     NOT NULL NUMBER       
	PARENT_NO           NUMBER       
	TYPE                VARCHAR2(10) 
	SUBJECT    NOT NULL VARCHAR2(50) 
	CONTENT    NOT NULL CLOB         
	STATUS     NOT NULL VARCHAR2(20) 
	ID         NOT NULL VARCHAR2(20) 
	IS_SECRET  NOT NULL VARCHAR2(10) 
	CREATED_AT          DATE         
	GOODS_NO            NUMBER

 -->


